@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(28, 28, 28);
    background-image: url("./assets/Dead-Man-skull.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

.popOver {
    background-color: #555;
    padding: 5px;
}

.popOver > h1 {
    font-size: 12px;
}

/* Popup arrow */
.popOver > h1::after {
    content: "";
    position: absolute;
    top: 35%;
    right: -10px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}